#wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 5px;
    grid-template-areas: 
        'hd hd hd hd hd hd'
        'nv nv nv nv nv nv'
        'sc sc sc sc sc sc'
        'ft ft ft ft ft ft';
    max-width: 100vw;
}

#byggnad{
  position: relative;
  background-image: url(/img/Gatukok1.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#byggnad::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}


#logo{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logga{
  height: 150px;
  width: auto;
  z-index: 1;
    
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#wrapper{
  box-sizing: border-box;
}
nav{
  grid-area: nv;
  height: 120px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  color: #ba2626;
  }
.nav-links {
  display: flex;
  justify-content:space-around;
  width: 50%;
  color: #ba2626;
  font-size: 20px;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}

.nav-links a{
  display: block;
  font-family: "Caveat", sans-serif;
  font-weight: bolder;
  font-size: larger;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: px;
  color: #ba2626;

  transform: translateX(0%);
  text-shadow: -1px -1px 0 #f3e9e9,  
               1px -1px 0 #f3e9e9,
              -1px 1px 0 #f3e9e9,
               1px 1px 0 #f3e9e9;
  }


.burger {
  position: absolute;
  right: 15%;
  display: block;
  width: 40px;
  height: 40px;
  transition: background-color 0.5s; 
  z-index: 3;
  }
  
  .nav-links a.white {
    color: white; 
  }
  
  .burger{
    display: none;
  }
  .burger div{
    width: 25px;
    height: 3px;
    background: #ba2626;
    margin: 5px;
    transition:all 0.5s ease;
  }
  @media only screen and (max-width: 760px){
     nav{
      justify-content: space-between;
      padding: 0 5vw;
      position: relative;
    }
    .nav-links{
      position: absolute;
      right: 0;
      top:8vh;
      min-height:92vh;
      background: #ba2626;
      display: flex;
      flex-direction: column;
      align-items: center;   
      width: 50%;
      margin: 0;
      padding: 0;
      transform: translateX(100%);
      transition:All 0.5s ease-in;
      z-index: 2;

    }
    .nav-links a{
      opacity: 0;
   
    }
    .burger{
      display: block;
    }
   
  }
  @media only screen and (max-width: 640px){
    nav{
      justify-content: space-between;
      padding: 0 5vw;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @media only screen and (max-width: 460px){
    .nav-links{
      width: 100%;
      transition:All 0.5s ease;
    }
  }
  .nav-active{
    transform: translateX(0);
  }
  @keyframes navLinkFade{
    from{
      opacity: 0;
      transform: translateX(50px);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  .line1{
    color: #ba2626
  }
  .line2{
    color: #ba2626
  }
  .line3{
    color: #ba2626
  }

  .toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px );
    color: #f3e9e9;
 }
 .toggle .line2{
    opacity: 0;
    
 }
 .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px );
    color: #f3e9e9;
 }

section{
  grid-area: sc;
}